   
   
   .banner {
	position:relative;
	width:100%;
	height:100vh;
	background-size: cover;
   }
   
   .banner:after {
	content:"";
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:#2b2f49;
	opacity:.32;
	z-index:1;
	pointer-events:none;
   }

   .banner-slowmotion {
	   position: relative;
   }

   .banner .hero {
	position: relative;
	min-height: 100vh;
	overflow: hidden;
  }
  
  .banner .hero .hero__image {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	object-position: center;
	transform-origin: top left;
	opacity: 0;
	will-change: opacity, transform;
	-webkit-transition: all 2s ease-out;
	transition: all 2s ease-out;
  }
  
  .banner .hero .hero__image:nth-child(2n) {
	transform-origin: top right;
  }
  
  .banner .hero .hero__image:nth-child(3n) {
	transform-origin: bottom right;
  }

  /*Mulai Animasi Gambar Banner*/

  .banner .hero .js-animating {
	animation: fade 6s forwards, zoom 30s linear forwards;
  }
  
  .banner .hero .js-animating:first-child + img ~ img {
	z-index: -1;
  }
  
  @keyframes fade {
	100% {
	  opacity: 1;
	}
  }
  
  @keyframes zoom {
	100% {
	  transform: scale(1.2);
	}
  }

@media (min-width: 340px) {
	.banner .hero .hero__image {
		width: min-content;
		object-position: -650px -100px;
	}   
}

@media (min-width:640px) {

	.banner .hero .hero__image {
		width: min-content;
		object-position: -600px -100px;
	}   
}

@media (min-width: 720px) {

	.banner .hero .hero__image {
		width: min-content;
		object-position: -450px -100px;
	}   
}

@media (min-width: 950px) {

	.banner .hero .hero__image {
		width: min-content;
		object-position: -350px -100px;
	}   
}

@media (min-width: 992px) {
	.banner .hero .hero__image {
		width: 100%;
		object-position: center;
	} 
}
